.base-button {
  display: block;
  background: linear-gradient(
    180deg,
    var(--color-primary-dark) 0%,
    var(--color-primary) 100%
  );
  color: white;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}
.base-button:hover {
  background: linear-gradient(
    180deg,
    var(--color-primary) 100%,
    var(--color-primary-dark) 0%
  );
  text-decoration: none !important;
}

.base-button-outline {
  display: block;
  background: #fff;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}
.base-button-outline:hover {
  background: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-primary-dark) 100%
  );
  color: #fff;
  border: 1px solid var(--color-primary);
}
