/* =========================================
   ABSTRACT (variables, mixins)
========================================= */
@use "./abstract/variables" as *;

/* =========================================
   BASE
========================================= */
@use "./base/global";

/* =========================================
   LAYOUT
========================================= */

@use "./layout/footer";
@use "./layout/header";
@use "./layout/nav-bar";

/* =========================================
   COMPONENTS
========================================= */
@use "./component/hero";
@use "./component/trusted-section";
@use "./component/custom-brand-section";
@use "./component/knowledge-base";
@use "./component/sign-up";
@use "./component/demo";
@use "./component/knowledge-section";
@use "./component/analytic";
@use "./component/compilance";
@use "./component/feature";
@use "./component/features-sub";
@use "./component/analytic-sub";
@use "./component/context";
@use "./component/integration";
@use "./component/integartion-section";
@use "./component/routine";
@use "./component/workflow";
@use "./component/testimonial";
@use "./component/cta-section";
@use "./component/faq-section";
@use "./component/realtime-section";
@use "./component/visitor-insight";
@use "./component/pricing";
@use "./component/button";
@use "./component/contact";

/* =========================================
   UTILITIES / RESPONSIVE
========================================= */
@use "./utilities/responsive";
