/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background: var(--color-primary);
  color: #fff;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: inherit;
  padding-bottom: 1rem;
}

p {
  margin-bottom: 0rem !important;
}

img,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  width: 90%; /* shrinks nicely on smaller screens */
  margin: 0 auto;
}

.alignment {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  /* align-items: center; */
  flex-direction: column;
}

.line-clamp-2 {
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word-clamp-3 {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

// text
.text-base {
  color: var(--color-primary);
}

.text-darkbase {
  color: var(--color-primary-dark);
}

.text-lightbase {
  color: var(--color-primary-light);
}

//background
.bg-base {
  background-color: var(--color-primary);
}
.bg-darkbase {
  background-color: var(--color-primary-dark);
}
.bg-lightbase {
  background-color: var(--color-primary-light);
}
.text-gradient-1 {
  background: linear-gradient(
    135deg,
    var(--color-primary-lighter),
    var(--color-primary)
  );
}
.text-gradient-2 {
  display: inline-block;
  background: linear-gradient(90deg, #4c51bf, #5a67d8, #f57fac);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

//bord
.border-base {
  border-color: var(--color-primary);
}
.border-darkbase {
  border-color: var(--color-primary-dark);
}
.border-lightbase {
  border-color: var(--color-primary-light);
}

// font-size
.fs-5-5 {
  font-size: 1.1rem !important;
}

.fs-6-5 {
  font-size: 0.9rem !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}

// ----height and width

.h-100vh {
  height: 100vh;
}
.w-fit {
  width: fit-content !important;
}

.pt-6rem {
  padding-top: 6rem !important;
}
